includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/

    level: 6

    ignoreErrors:
        - '#Access to an undefined property App\\Http\\Resources\\[a-zA-Z0-9::a-zA-Z]#'
        - '#Method App\\Models\\\w+::\w+\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\\w+ does not specify its types: TRelatedModel, TDeclaringModel#'
        - '#Access to an undefined property App\\Models\\\w+\:\:\$\w+#'